@import '../../globals/styling/variables.scss';

.carousel {
  padding: 1rem;
  &-card {

    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $dark-red;
    max-width: 25%;

    &-name {
      font-size: 3em;
      color: $white;
    }

    &-image {
      align-self: center;
      max-width: 25rem;
    }
    &-button {
      background-color: $blue;
      color: $white;
      border: none;
      padding: 1rem;
      transition: .2s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: $dark-blue;
      }
    }
  }
}