@import "../../globals/styling/variables.scss";

.carousel {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin-top: 25vh;
  &-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $white;
    justify-content: space-between;
    width: 20vw;
    &-name {
      font-size: 3em;
      color: $default-color;
      font-weight: bold;
    }

    &-image {
      align-self: center;
      max-width: 20vw;
    }
    &-button {
      background-color: $blue;
      color: $white;
      border: none;
      padding: 1rem;
      transition: 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: $dark-blue;
      }
    }
  }
}
