@import "../../globals/styling/variables.scss";

.navigation-bar {
  background-color: $dark-red;
  height: 10vh;
  &-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    
    a {
      text-decoration: none;
      align-self: center;
    }
    &-item {
      padding: 1rem;
      color: $white;
      font-weight: bold;
      transition: 0.1s ease-in;
      &:hover {
        color: $dirty-white;
      }
    }
     .item-logo {
      width: 10vw;
      background-color: grey;
      color: black;
    }
  }
  &-image {
    width: 2rem;
    height: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}
